dataset/
visualsync/data/
vissync/
visualsync/vggt_output/
visualsync/tracks/
visualsync/results/
visualsync/custom_out/
visualsync/src/__pycache__/
visualsync/src/custom_scripts/__pycache__/
*.zip
*.tar.gz
*.gz
*.pt
*.pth
*.bin
*.ckpt
*.pth
*.pth.1
*.mp4
*.gif
*.avi